.footer-p{
    margin: 20px 0 0 0;
    padding: 15px;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}